__pycache__/
/__pycache__
hmp/_version.py
docs/source/notebooks/sample_data/*
docs/build

*.py[cod]
*.nc
.ipynb_checkpoints
*perso*
*.fif
*.npy
*.pkl
*.kate-swp
*.zip

/sample_data
/dist
*egg*
*.DS_Store
*.vscode
.python-version
.coverage

.jupyter
